# Clone this repository and extract it to your hard drive

# Open the Anaconda 3 Prompt and type the following commands:
$ conda create --name rna_browser python=3.6
$ conda activate rna_browser
$ pip install pandas matplotlib numpy

# Navigate to the root directory and type the following
$ python rna_browser_cli.py

# Follow the prompts and it will give you a figure
# You can save the figure if you like
# When you close the figure the program you can make more plots or close the program
